*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-custom{
    position: absolute;
    top: 0;
    width:100%;
}
.navbar a{
    color:white;
    font-weight:bold;
}

.navbar-brand:hover{
    color:plum;
}
.navbar li a:hover{
    background-color:plum;
}
header{
    height:450px;
    color:white;
    padding: 150px 0;
}
header h1{
    font-size:50px;
    text-shadow: 2px 2px 2px black;
}
header p{
    font-size:20px;
    text-shadow: 2px 2px 2px black;
}
.gallery h1{
    font-size:50px;
    text-shadow: 2px 2px 3px plum;
    color:white;
    text-align: center;
}
.gallery h1:hover{
    text-shadow: 2px 2px 3px black;
}
.thumbnail img{
    width:300px;
    height:200px;
}
.block-a{
    font-size:20px;
    margin:20px 0;
    padding:5px 0;
}
.block-b{
    font-size:20px;
    padding:5px 0;
    background:#f1f1f1;
}
.about_para{
    font-size:20px;
    line-height:30px
}
.footer{
    width:100%;
    padding:20px;
    background:plum;
    color:white;
}
